body {
  background-image: url("/media/cloudImage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}


span {
  font-size: 1.5rem;
  
}

h2 {
  color: rgb(141, 106, 161);
  text-align: center;
}

.contact {
  list-style-type: none;
}

.box {
  background-color:rgba(201, 90, 186, 0.288);
  border-radius: .5rem;
}

.header{
  color: rgb(141, 106, 161);
  text-shadow: 0 0 .4rem rgba(248, 248, 248, 0.884);
 
}

#personalPhoto {
  max-width: 28rem;
  height: auto;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(0 0 .8rem rgba(248, 248, 248, 0.884));
}

#languages {
  margin-bottom: 7rem;
}

#name {
  margin-top: 2rem;
  
}
