#navId {
  font-size: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.nav-link {
  color: white;
  text-shadow: 0 0 .2rem rgba(248, 248, 248, 0.884);
}

.nav-link:hover {
  color: rgb(201, 90, 186);
}

.nav-link:focus {
  color: rgb(201, 90, 186);
}

.active {
  color: rgb(201, 90, 186);
}